body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #FFFFFF;
}

h2 {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

h3 {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

h1 {
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;


}

.logo {
    font-family: Raleway;
    font-size: 26px;
    letter-spacing: 0.78px;
    text-decoration: none;
    color: #000;
}
.logo-item {
    color: #2196F3;
}

.order {
    background-color: #2F303A;
    text-align: center;
}

button {
    border-radius: 4px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.96px;
    background-color: #2F303A
}

button:hover,
button:focus {
    background-color: #2196F3;
}

.link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;

}
.address-link {
    color: #757575;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.28px;
}

.link:hover,
.link:focus {
    color: #2196F3;
}

ul {
    list-style: none;
}

footer {
    background-color: #2F303A;

}

address>p {
    color: #FFF;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-style: normal;
}

.address-item {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-style: normal;
}